/*
AUTHOR: Peter Himmelreich
		averygoodplanet@gmail.com
		averygoodplanet.com
*/

body {
	font-family: Georgia;
}

#center_wrapper {
	width: 980px;
	margin: auto;
	border: 1px dashed black; 
}

ul {
	list-style-type: none;
}

li {
	font-size: 40px;
}

.purchased span{ /* Line-through style. */
	background: url(images/line.jpg) repeat-x center;
	color: #000;
}

